* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: black;
}

.section-cross {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 3px;
}

.block {
	background-color: white;
	cursor: pointer;
	transition: all .5s;
}

.block:hover {
	background-color: rgb(207, 223, 251);
}